@import url('https://fonts.googleapis.com/css?family=Poppins:wght@400,500,600,700&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-transform: capitalize;
    text-decoration: none;
    list-style: none;
    font-family: 'Poppins', sans-serif;
}
body {
    background-color: #F5F5F5;
}

header {
    position: relative;
    background-image: url(images/fond.jpg);
    background-position: center bottom;
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 70vh;
    display: flex;
    align-items: center;
    color: #fff; /* Ajusta el color del texto si es necesario */
}

header::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5); /* Ajusta el color negro y la opacidad (0.5) según tus necesidades */
    z-index: 1;
}

/* Asegúrate de que el contenido del header esté por encima de la capa oscura */
header .header-content {
    position: relative;
    z-index: 2;
}



.container {
    max-width: 1100px;
    margin: 0 auto;
}

.menu {
    position: absolute;
    top: 10px;
    left: 0;
    right: 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    z-index: 1000;
}

.menu .logo {
    font-weight: 700;
    font-size: 25px;
    color: #ffffff;
}

.menu .navbar ul li {
    position: relative;
    float: left;
  }
  
.menu .navbar ul li a {
    font-size: 18px;
    padding: 10px 35px;
    color: #ffffff; 
    border-radius: 25px;
    display: block; 
  }
  
.menu .navbar ul li a:hover {
    background-color: #369BD1;
}

#menu {
    display: none;
}

.menu-icono {
    width: 25px;
}

.menu label {
    cursor: pointer;
    display: none;
}

.header-content {
    display: flex;
}

.header-content img {
    width: 500px;
}

.content {
    padding: 150px 150px 0px 0px;
}

.content h1 {
    color: #ffffff; 
    font-size: 55px;
    font-weight: 500;
    line-height: 55px;
}
  
.content p {
    margin-top: 25px;
    color: #ffffff; 
    font-size: 20px;
}
  
.btn-1 {
    display: inline-block;
    background-color: #148AFA;
    margin: 35px 0px 0px 0px;
    padding: 15px 25px;
    color: #ffffff;
    border-radius: 25px; 
}

.btn-1:hover {
    background-color: #0F71CC;
}

.services {
    padding: 100px 8px;
    display: flex;
    justify-content: space-between;
    text-align: center;
}

.service {
    padding: 20px;
    margin: 0px 10px;
}

.service img {
    width: 150px;
    height: 150px;
    margin-bottom: 15px;
}

.service h3 {
    font-size: 20px;
    color: #0E0E0E;
    margin-bottom: 10px;
}

.service p {

    color: #525254;
    font-size: 16px;
    
}
.features {
    padding: 50px 0;
    background-image: url('images/features.svg');
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    text-align: center;
    color: #0E0E0E; 
}

.features img {
    width: 40px;
}

.features h2 {
    font-size: 55px;
    color: #ffffff;
    margin-bottom: 25px;
}

.g-features {
    display: flex;
}

.feature {
    margin: 15px;
    padding: 25px;
    box-shadow: 0px 0px 40px rgba(0, 0, 0, 0.3);
    background-color: #ffffff; 
    text-align: left;
    border-radius: 15px;
}
  
.feature h3 {
    font-size: 20px;
    margin-bottom: 10px;
}
  
.feature p {
    font-size: 16px;
}
  
.customers {
    padding: 150px 0px;
    text-align: center;
}
  
.customers h2 {
    font-size: 55px;
    color: #0E0E0E; 
    margin-bottom: 55px;
}

.i1 {
    width: 50px;
}

.customer {
    display: flex;
    justify-content: space-between;
  }
  
  .customer img {
    width: 200px;
  }
  
  footer {
    padding: 0px 0px 30px 0px;
    background-image: url(images/footer.svg);
    background-position: top center;
    background-repeat: no-repeat;
    background-size: cover;
  }
  
  .info-content {
    display: flex;
  }

.info-price {
    padding: 35px;
    text-align: center;
    background-color: #f5f5f5; 
    box-shadow: 0px 0px 25px rgba(0, 0, 0, 0.3);
    margin: 0px 150px 0px;
    color: #0E0E0E;
}

.info-price h2 {
    font-size: 25px;
    margin-bottom: 10px;
}

.price {
    font-size: 14px;
    color: #0EAEF3 !important; 
    margin-bottom: 10px;
}

.info-price p {
    font-size: 16px;
    color: #525254;
}
  
.info-txt {
    margin-left: 35px;
    color: #0E0E0E;
}
  

.iframe-container {
    position: relative;
    width: 100%;
    padding-bottom: 56.25%; /* Proporción de aspecto 16:9 */
    height: 0;
    overflow: hidden;
}
.iframe-container iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border: 0;
}

.info-txt h2 {
    font-size: 25px;
    margin-bottom: 10px;
}
  
.info-txt p {
    color: #525254;
}
  
hr {
    margin: 100px 0px 30px 0px;
    border: 1px solid #ffffff; 
}
.enlaces{
    display: flex;
    justify-content: space-between;
    color: #ffffff;
}
.enlace h3 {
    font-size: 25px;
}

.enlace {
    display: flex;
}


.enlace li a {
    display: block;
    margin: 20px;
    color: #ffffff;
    padding: 10px 35px;
    border-radius: 25px;
  }
  
 
.enlace li a:hover {
    background-color: #369BD1;
  }
  
/* Estilos del carrusel */
.slider-container {
    position: relative;
    width: 100%;
    overflow: hidden;
    margin: auto;
}

.slider {
    display: flex;
    transition: transform 0.5s ease-in-out;
}

.slider-item {
    min-width: 100%;
    box-sizing: border-box;
    text-align: center;
}

.slider-item img {
    width: 200px;
    height: 200px;
    display: block;
    margin: auto;
}

.prev, .next {
    position: absolute;
    top: 50%;
    width: auto;
    padding: 10px;
    margin-top: -22px;
    color: white;
    font-weight: bold;
    font-size: 18px;
    transition: 0.6s ease;
    border-radius: 50%;
    user-select: none;
    background-color: rgba(0, 0, 0, 0.5);
    cursor: pointer;
}

.next {
    right: 10px;
}

.prev {
    left: 10px;
}

.prev:hover, .next:hover {
    background-color: rgba(0, 0, 0, 0.8);
}

.horario-atencion {
    text-align: center;
    margin-top: 30px;
    color: #0E0E0E;
}

.horario-atencion h3 {
    font-size: 24px;
    margin-bottom: 10px;
}

.horario-atencion p {
    font-size: 18px;
    margin: 5px 0;
}

  
@media (max-width: 991px) {

    .menu {
      padding: 20px;

    }

    .menu label {
      display: initial;
    }
  
    .menu .navbar {
        position: absolute;
        top: 100px; 
        left: 0;
        right: 0;
        background-color: #148AFA;
        display: none;
    }

    .menu .navbar ul li {
        width: 100%;
    }


    #menu:checked ~ .navbar {
       display: initial;
    }


    header {
       height: 0vh; 
       padding: 400px 0px 340px 0px;
       background-position: center center;
    }


    .header-content {
       flex-direction: column;
       text-align: center;
       align-items: center;
       padding: 0px 30px;
    }

    .content {
      padding: 0px;
    }

    .content h1 {
       margin-top: 0px;
       font-weight: 45px;
    }

    .content p {
       margin-top: 0px;
    }

    .header-content img {
       margin-top: 25px;
       width: 150px;
    }

    .services {
       flex-direction: column;
       padding: 50px 30px 0px 30px;
    }

    .service {
       margin-bottom: 50px;
    }

    .features {
       padding: 30px;
    }
  
    .features h2 {
       font-size: 45px;
    }
  
    .g-features {
       display: flex;
       flex-direction: column;
    }
  
    .feature {
       margin: 0px 25px 25px 25px;
    }


    .customers {
       padding: 30px 0px;
    }

    .customers h2 {
       font-size: 45px;
       margin-bottom: 5px;
    }

    .customer {
       display: flex;
       flex-direction: column;
       align-items: center;
    }

    .customer img {
       margin-bottom: 25px;
       width: 150px;
       height: 50px;
    }
    .iframe-container {
        padding-bottom: 75%; /* Ajuste para pantallas móviles, por ejemplo 4:3 */
    }
    footer {
       padding: 0px 30px 30px 30px;
    }

    .info-content {
        flex-direction: column;
        text-align: center;
    }
    
    .info-price {
        margin: 0px 0px 20px 0px;
    }
    
    .info-txt {
        margin: 0px;
    }
    
    hr {
        margin: 25px 0px;
    }
    
    .enlaces {
        flex-direction: column;
        align-items: center;
    }

    
    .enlace {
        flex-direction: column;
    }

}

  
 

    


    



